## Class exercises:

Make a function that:

1. Create a data frame with this:

In [5]:
import pandas as pd

In [6]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [7]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [8]:
friends=pd.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

2. Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [24]:
tuplepair=[(x,y) for (x,y) in zip(friends.names,friends.country)]  
tuplepair

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

3. Implement a _for_ loop to count how many peruvian there are in the data frame.

In [26]:
peruvian=0 #counter

for country in friends.country:
    if country == "Peru":
        peruvian +=1 #updating counter
        
#results
peruvian

2

4. Implement a _for_ loop to get the count of men. Try using **not** in one solution and **~** in another one.

In [18]:
men=0 #counter

for woman in friends.woman:
    if woman==False:
        men +=1 #updating counter
        
#results
men

4

In [32]:
men1=0 #counter

for woman in friends.woman:
    if not woman:
        men1 += 1 #updating counter
        
#results
men1

4

In [33]:
men2=0

for man in ~friends.woman: #~friends.woman is the reverse of friends.woman
    if man:
        men2 +=1
        
men2 #reults

4

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'ex_controlOfEx'.

## Homework

1. Implement a _for_ loop to get the count of men that have a Bach degree in the data frame. I recommend the use of **zip** (somwehere)

2. Implement a _for_ loop to get the count of people whose current age is an even number.

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_controlOfEx'.

_____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_1)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)