## Class exercises:

Make a function that:

1. Create a data frame with this:

In [2]:
import pandas as pd

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}

friends=pd.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

## Homework

1. Implement a _for_ loop to get the count of men that have a Bach degree in the data frame. I recommend the use of **zip** (somwehere)

In [6]:
MaleBachCounter=0 #counter

for (woman,degree) in (zip(friends.woman,friends.education)):
    if woman==False:
        if degree=="Bach":
            MaleBachCounter +=1
            
#Results
MaleBachCounter

2

2. Implement a _for_ loop to get the count of people whose current age is an even number.

In [8]:
EvenAgeCounter=0

for age in friends.ages:
    if age%2==0:
        EvenAgeCounter +=1
        
#results
EvenAgeCounter

4

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_controlOfEx'.

_____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_1)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)