## Class exercises:

In a new Jupyter notebook solve each excercise, and then upload them to GitHub. Name the notebook as 'ex_data_structures':

A. Turn this into a Data Frame name "friends":

In [4]:
import pandas

In [1]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [2]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [5]:
friends=pandas.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

B. Answer the following:

In [15]:
# Who is the oldest person in this group of friends?
friends[friends.ages==max(friends.ages)].names

1    Pauline
Name: names, dtype: object

In [8]:
# How many people are 32?
len(friends[friends.ages==32])

2

In [18]:
# How many are not Peruvian? (use two different codes)
NotPeruvian=friends[friends.country!="Peru"]
len(NotPeruvian)

4

In [17]:
# what is the sex of the oldest person in the group?
friends.sort_values(by='ages',ascending=True).tail(1).woman

1    True
Name: woman, dtype: bool

____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_1)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)